This notebook just reads the raw csv files, joins them, drops duplicate columns, performs formatting, creates aggregate features and saves the output as a new csv file 

Workflow:
data -> imputer -> preprocess -> survival

In [1]:
import numpy as np
import pandas as pd

from load import load_table, to_csv

from utilities import get_cumulative, get_indicator, merge, add_aggregate

In [2]:
path = './Data'

In [3]:
av_tumour = load_table('av_tumour', path)
av_patient = load_table('av_patient', path)
sact_patient = load_table('sact_patient', path)
sact_tumour = load_table('sact_tumour', path)
sact_regimen = load_table('sact_regimen', path)
sact_cycle = load_table('sact_cycle', path)

print(f'AV_TUMOUR rows: {av_tumour.shape[0]}')
print(f'AV_PATIENT rows: {av_patient.shape[0]}')
print(f'SACT_PATIENT rows: {sact_patient.shape[0]}')
print(f'SACT_TUMOUR rows: {sact_tumour.shape[0]}')
print(f'SACT_REGIMEN rows: {sact_regimen.shape[0]}')
print(f'SACT_CYCLE rows: {sact_cycle.shape[0]}')

AV_TUMOUR rows: 2371281
AV_PATIENT rows: 2200626
SACT_PATIENT rows: 366266
SACT_TUMOUR rows: 450072
SACT_REGIMEN rows: 730472
SACT_CYCLE rows: 2442037

In [4]:
# perform all operations on a copy of av_tumour
df = av_tumour.copy()
df.shape

(2371281, 34)

In [5]:
# Count number of tumour occurrences at and before a given diagnosis date for a particular patient
df = get_cumulative(df, 'PATIENTID', 'DIAGNOSISDATEBEST', 'TUMOUR_COUNT','TUMOURID')
df.shape

lost:  0

(2371281, 35)

In [6]:
# brain ICD10 codes as per gliocova - see Kerlann's email from 3/2/21
# C34 lung
# C50 breast

OPTION = 0
if OPTION == 0:
    df = df.drop(df[(df.SITE_ICD10_O2_3CHAR != 'C70') & 
                    (df.SITE_ICD10_O2_3CHAR != 'C71') & 
                    (df.SITE_ICD10_O2_3CHAR != 'C72') & 
                    (df.SITE_ICD10_O2_3CHAR != 'D32') &
                    (df.SITE_ICD10_O2_3CHAR != 'D33') &
                    (df.SITE_ICD10_O2 != 'D352') &
                    (df.SITE_ICD10_O2 != 'D353') &
                    (df.SITE_ICD10_O2 != 'D354')].index)
elif OPTION == 1:
    df = df.drop(df[(df.SITE_ICD10_O2_3CHAR != 'C34')].index)
elif OPTION == 2:
    df = df.drop(df[(df.SITE_ICD10_O2_3CHAR != 'C50')].index)
df.shape

(41369, 35)

In [7]:
# note the mismatch between SITE_ICD10_O2 and SITE_ICD10_O2_3CHAR 
df.SITE_ICD10_O2_3CHAR.value_counts()
# df[(df.SITE_ICD10_O2 == 'D352')]

C71    20565
D32    11162
D33     4492
D35     4088
C72      689
       ...
C11        0
C10        0
C09        0
C08        0
D13        0
Name: SITE_ICD10_O2_3CHAR, Length: 115, dtype: int64

In [8]:
df = merge(df, av_patient, on='PATIENTID', suffixes=(None, '_r'))
# list(df.columns) 
df.shape

(41369, 44)

In [9]:
sact_patient['SACT'] = pd.Series([True] * len(sact_patient.index), dtype='boolean')
df = merge(df, sact_patient, how='left', left_on='LINKNUMBER', right_on='LINK_NUMBER', suffixes=(None, '_r'))
df = df.drop(columns='LINK_NUMBER')
# list(df.columns)
df.shape

(41369, 46)

In [10]:
df = merge(df, sact_tumour, how='left', on='MERGED_PATIENT_ID', suffixes=(None, '_r'))
# list(df.columns) 
df.shape

(47333, 50)

In [11]:
df = merge(df, sact_regimen, how='left', on='MERGED_TUMOUR_ID', suffixes=(None, '_r'))
df.shape

(59263, 60)

In [12]:
# those with multiple regimens
# regimen = df.loc[~df.MERGED_REGIMEN_ID.isnull()]
# multireg = regimen.loc[regimen.PATIENTID.duplicated()]
# multireg

# rows with Regimen
print('rows with Regimen', df.loc[~df.START_DATE_OF_REGIMEN.isnull()].shape[0])

rows with Regimen 23345

In [13]:
# calculate cumulative count of regimens 
df = get_cumulative(df, groupby='MERGED_PATIENT_ID', date='START_DATE_OF_REGIMEN', name='REGIMEN_COUNT', key='MERGED_REGIMEN_ID')
df.shape

lost:  0

(59263, 61)

In [14]:
### Does this even make sense? Perhaps just days since start of diagnosis 
# df['DATE_FIRST_REGIMEN'] = df[['START_DATE_OF_REGIMEN','MERGED_PATIENT_ID']][~df.START_DATE_OF_REGIMEN.isnull()].groupby(['MERGED_PATIENT_ID'])['START_DATE_OF_REGIMEN'].transform('min')
# df.shape

In [15]:
# assuming 02, N mean no; 00, 99 and missing are treated as no as well
df['CLINICAL_TRIAL'] = (df['CLINICAL_TRIAL'] == '01') | (df['CLINICAL_TRIAL'] == '1') | (df['CLINICAL_TRIAL'] == 'Y') | (df['CLINICAL_TRIAL'] == 'y')

df = get_indicator(df,'CLINICAL_TRIAL','PATIENTID','START_DATE_OF_REGIMEN','CLINICAL_TRIAL_INDICATOR','MERGED_REGIMEN_ID') 
df.shape

lost:  0

(59263, 62)

In [16]:
# patientid 250012125 became duplicated after getting an indicator on clinical trial enrolment 
# df.loc[df.PATIENTID.isin([250012125])]
# to_csv(df.loc[df.PATIENTID.isin([250012125])] ,f'{path}/toy2.csv')

In [17]:
# chemo_radiation from SACT to be kept  
# assuming 2, N mean no; 0 and missing are treated as no as well
df['CHEMO_RADIATION'] = (df['CHEMO_RADIATION'] == '1') | (df['CHEMO_RADIATION'] == 'Y') | (df['CHEMO_RADIATION'] == 'y')

df = get_indicator(df,'CHEMO_RADIATION','PATIENTID','START_DATE_OF_REGIMEN','CHEMO_RADIATION_INDICATOR','MERGED_REGIMEN_ID') 
df.shape
# df['CHEMO_RADIATION_INDICATOR'] = df[['CHEMO_RADIATION_INDICATOR','MERGED_PATIENT_ID', 'MERGED_REGIMEN_ID']][~df.MERGED_REGIMEN_ID.isnull()].groupby(['MERGED_PATIENT_ID'])['CHEMO_RADIATION_INDICATOR'].transform('max')

lost:  0

(59263, 63)

In [18]:
# height and weight
df = add_aggregate(df,what='median',target='HEIGHT_AT_START_OF_REGIMEN',groupby='MERGED_PATIENT_ID',name='NORMALISED_HEIGHT')
df = add_aggregate(df,what='median',target='WEIGHT_AT_START_OF_REGIMEN',groupby='MERGED_PATIENT_ID',name='NORMALISED_WEIGHT')

df.shape
# median_heights = df[(df['SEX'] == 2) & ~(df['HEIGHT_AT_START_OF_REGIMEN'].isnull())]['HEIGHT_AT_START_OF_REGIMEN'].median()

lost:  0
lost:  0

(59263, 65)

In [19]:
df = merge(df, sact_cycle, how='left', on='MERGED_REGIMEN_ID', suffixes=(None, '_r'))
df.shape

(94259, 70)

In [20]:
# get a sensible vital status date that's no earlier than any date in the dataset
df['NEWVITALSTATUSDATE'] = df[['DIAGNOSISDATEBEST','DATE_FIRST_SURGERY','VITALSTATUSDATE','DATE_DECISION_TO_TREAT','START_DATE_OF_REGIMEN','START_DATE_OF_CYCLE']].max(axis=1)

0       2019-02-06
1       2016-06-15
2       2016-07-06
3       2016-08-03
4       2016-08-31
           ...
94254   2019-02-09
94255   2019-02-09
94256   2019-02-09
94257   2019-02-09
94258   2019-02-09
Name: NEWVITALSTATUSDATE, Length: 94259, dtype: datetime64[ns]

In [21]:
df = df.drop(columns=['CONSULTANT_SPECIALITY_CODE','PRIMARY_DIAGNOSIS','MORPHOLOGY_CLEAN','MERGED_REGIMEN_ID'])
df = df.drop(columns=['HEIGHT_AT_START_OF_REGIMEN','WEIGHT_AT_START_OF_REGIMEN','INTENT_OF_TREATMENT'])
df = df.drop(columns=['MAPPED_REGIMEN','BENCHMARK_GROUP'])
# df = df.drop(columns=['DATE_DECISION_TO_TREAT','START_DATE_OF_REGIMEN','START_DATE_OF_CYCLE'])
# df = df.drop(columns=['CLINICAL_TRIAL','CHEMO_RADIATION'])
df = df.drop(columns=['MERGED_CYCLE_ID','CYCLE_NUMBER','OPCS_PROCUREMENT_CODE','PERF_STATUS_START_OF_CYCLE'])
print(df.shape)
df = df.drop_duplicates()
print(df.shape)

(94259, 58)
(89535, 58)

In [22]:
if OPTION == 0:
    to_csv(df, f'{path}/bt.csv')
elif OPTION == 1:
    to_csv(df, f'{path}/lung.csv')
elif OPTION == 2:
    to_csv(df, f'{path}/breast.csv')
df.dtypes

TUMOURID                              int64
PATIENTID                             int64
DIAGNOSISDATEBEST            datetime64[ns]
SITE_ICD10_O2                      category
SITE_ICD10_O2_3CHAR                category
MORPH_ICD10_O2                     category
BEHAVIOUR_ICD10_O2                 category
T_BEST                             category
N_BEST                             category
M_BEST                             category
STAGE_BEST                         category
STAGE_BEST_SYSTEM                  category
GRADE                              category
AGE                                 float64
SEX                                category
CREG_CODE                          category
LINKNUMBER                            int64
SCREENINGSTATUSFULL_CODE           category
ER_STATUS                          category
ER_SCORE                           category
PR_STATUS                          category
PR_SCORE                           category
HER2_STATUS                        category
CANCERCAREPLANINTENT               category
PERFORMANCESTATUS                  category
CNS                                category
ACE27                              category
GLEASON_PRIMARY                    category
GLEASON_SECONDARY                  category
GLEASON_TERTIARY                   category
GLEASON_COMBINED                   category
DATE_FIRST_SURGERY           datetime64[ns]
LATERALITY                         category
QUINTILE_2015                      category
TUMOUR_COUNT                          int64
ETHNICITY                          category
DEATHCAUSECODE_1A                    object
DEATHCAUSECODE_1B                    object
DEATHCAUSECODE_1C                    object
DEATHCAUSECODE_2                     object
DEATHCAUSECODE_UNDERLYING            object
DEATHLOCATIONCODE                  category
NEWVITALSTATUS                     category
VITALSTATUSDATE              datetime64[ns]
MERGED_PATIENT_ID                   float64
SACT                                boolean
MERGED_TUMOUR_ID                    float64
DATE_DECISION_TO_TREAT       datetime64[ns]
START_DATE_OF_REGIMEN        datetime64[ns]
CLINICAL_TRIAL                         bool
CHEMO_RADIATION                        bool
REGIMEN_COUNT                       float64
CLINICAL_TRIAL_INDICATOR            boolean
CHEMO_RADIATION_INDICATOR           boolean
NORMALISED_HEIGHT                   float64
NORMALISED_WEIGHT                   float64
START_DATE_OF_CYCLE          datetime64[ns]
NEWVITALSTATUSDATE           datetime64[ns]
dtype: object

In [23]:
pd.set_option('display.max_columns', None)

df.loc[df.PATIENTID==210009833]

,TUMOURID,PATIENTID,DIAGNOSISDATEBEST,SITE_ICD10_O2,SITE_ICD10_O2_3CHAR,MORPH_ICD10_O2,BEHAVIOUR_ICD10_O2,T_BEST,N_BEST,M_BEST,STAGE_BEST,STAGE_BEST_SYSTEM,GRADE,AGE,SEX,CREG_CODE,LINKNUMBER,SCREENINGSTATUSFULL_CODE,ER_STATUS,ER_SCORE,PR_STATUS,PR_SCORE,HER2_STATUS,CANCERCAREPLANINTENT,PERFORMANCESTATUS,CNS,ACE27,GLEASON_PRIMARY,GLEASON_SECONDARY,GLEASON_TERTIARY,GLEASON_COMBINED,DATE_FIRST_SURGERY,LATERALITY,QUINTILE_2015,TUMOUR_COUNT,ETHNICITY,DEATHCAUSECODE_1A,DEATHCAUSECODE_1B,DEATHCAUSECODE_1C,DEATHCAUSECODE_2,DEATHCAUSECODE_UNDERLYING,DEATHLOCATIONCODE,NEWVITALSTATUS,VITALSTATUSDATE,MERGED_PATIENT_ID,SACT,MERGED_TUMOUR_ID,DATE_DECISION_TO_TREAT,START_DATE_OF_REGIMEN,CLINICAL_TRIAL,CHEMO_RADIATION,REGIMEN_COUNT,CLINICAL_TRIAL_INDICATOR,CHEMO_RADIATION_INDICATOR,NORMALISED_HEIGHT,NORMALISED_WEIGHT,START_DATE_OF_CYCLE,NEWVITALSTATUSDATE
34170,210009833,210009833,2015-09-02,C712,C71,9440,3,NaN,NaN,NaN,U,NaN,G4,36.0,2,L0301,1010009833,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-09-02,L,5 - most deprived,1,A,NaN,NaN,NaN,NaN,NaN,NaN,D,2015-09-05,210009833.0,True,210006340.0,NaT,2015-11-19,False,False,3.0,False,True,1.055,51.6,2015-11-19,2015-11-19
34171,210009833,210009833,2015-09-02,C712,C71,9440,3,NaN,NaN,NaN,U,NaN,G4,36.0,2,L0301,1010009833,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-09-02,L,5 - most deprived,1,A,NaN,NaN,NaN,NaN,NaN,NaN,D,2015-09-05,210009833.0,True,210006341.0,2015-11-19,2015-11-20,False,False,4.0,False,True,1.055,51.6,2016-05-07,2016-05-07
34172,210009833,210009833,2015-09-02,C712,C71,9440,3,NaN,NaN,NaN,U,NaN,G4,36.0,2,L0301,1010009833,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-09-02,L,5 - most deprived,1,A,NaN,NaN,NaN,NaN,NaN,NaN,D,2015-09-05,210009833.0,True,210006341.0,2015-06-12,2016-01-29,True,False,5.0,True,True,1.055,51.6,2016-01-29,2016-01-29
34173,210009833,210009833,2015-09-02,C712,C71,9440,3,NaN,NaN,NaN,U,NaN,G4,36.0,2,L0301,1010009833,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-09-02,L,5 - most deprived,1,A,NaN,NaN,NaN,NaN,NaN,NaN,D,2015-09-05,210009833.0,True,210006341.0,2015-06-12,2016-01-29,True,False,5.0,True,True,1.055,51.6,2016-07-23,2016-07-23
34174,210009833,210009833,2015-09-02,C712,C71,9440,3,NaN,NaN,NaN,U,NaN,G4,36.0,2,L0301,1010009833,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-09-02,L,5 - most deprived,1,A,NaN,NaN,NaN,NaN,NaN,NaN,D,2015-09-05,210009833.0,True,210006341.0,2015-06-12,2016-01-29,True,False,5.0,True,True,1.055,51.6,2016-07-30,2016-07-30
34175,210009833,210009833,2015-09-02,C712,C71,9440,3,NaN,NaN,NaN,U,NaN,G4,36.0,2,L0301,1010009833,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-09-02,L,5 - most deprived,1,A,NaN,NaN,NaN,NaN,NaN,NaN,D,2015-09-05,210009833.0,True,210006341.0,2015-06-12,2016-01-29,True,False,5.0,True,True,1.055,51.6,NaT,2016-01-29
34179,210009833,210009833,2015-09-02,C712,C71,9440,3,NaN,NaN,NaN,U,NaN,G4,36.0,2,L0301,1010009833,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-09-02,L,5 - most deprived,1,A,NaN,NaN,NaN,NaN,NaN,NaN,D,2015-09-05,210009833.0,True,210006342.0,NaT,2016-02-01,True,False,6.0,True,True,1.055,51.6,2016-02-01,2016-02-01
34180,210009833,210009833,2015-09-02,C712,C71,9440,3,NaN,NaN,NaN,U,NaN,G4,36.0,2,L0301,1010009833,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-09-02,L,5 - most deprived,1,A,NaN,NaN,NaN,NaN,NaN,NaN,D,2015-09-05,210009833.0,True,210006342.0,NaT,2016-02-01,True,False,6.0,True,True,1.055,51.6,2016-03-07,2016-03-07
34181,210009833,210009833,2015-09-02,C712,C71,9440,3,NaN,NaN,NaN,U,NaN,G4,36.0,2,L0301,1010009833,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-09-02,L,5 - most deprived,1,A,NaN,NaN,NaN,NaN,NaN,NaN,D,2015-09-05,210009833.0,True,210006342.0,2016-01-25,2016-03-28,False,False,7.0,True,True,1.055,51.6,2016-07-19,2016-07-19
34182,210009833,210009833,2015-09-02,C712,C71,9440,3,NaN,NaN,NaN,U,NaN,G4,36.0,2,L0301,1010009833,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-09-02,L,5 - most deprived,1,A,NaN,NaN,NaN,NaN,NaN,NaN,D,2015-09-05,210009833.0,True,210006342.0,2016-02-25,2016-04-25,True,False,8.0,True,True,1.055,51.6,2016-04-25,2016-04-25
34183,210009833,210009833,2015-09-02,C712,C71,9440,3,NaN,NaN,NaN,U,NaN,G4,36.0,2,L0301,1010009833,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-09-02,L,5 - most deprived,1,A,NaN,NaN,NaN,NaN,NaN,NaN,D,2015-09-05,210009833.0,True,210006342.0,2014-12-01,2016-06-29,False,False,9.0,True,True,1.055,51.6,2016-06-29,2016-06-29
34184,210009833,210009833,2015-09-02,C712,C71,9440,3,NaN,NaN,NaN,U,NaN,G4,36.0,2,L0301,1010009833,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-09-02,L,5 - most deprived,1,A,NaN,NaN,NaN,NaN,NaN,NaN,D,2015-09-05,210009833.0,True,210006342.0,2016-06-04,2016-08-01,False,False,10.0,True,True,1.055,51.6,2016-08-01,2016-08-01
34185,210009833,210009833,2015-09-02,C712,C71,9440,3,NaN,NaN,NaN,U,NaN,G4,36.0,2,L0301,1010009833,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-09-02,L,5 - most deprived,1,A,NaN,NaN,NaN,NaN,NaN,NaN,D,2015-09-05,210009833.0,True,210006343.0,2016-09-06,2016-09-06,True,False,12.0,True,True,1.055,51.6,2016-11-30,2016-11-30
34186,210009833,210009833,2015-09-02,C712,C71,9440,3,NaN,NaN,NaN,U,NaN,G4,36.0,2,L0301,1010009833,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-09-02,L,5 - most deprived,1,A,NaN,NaN,NaN,NaN,NaN,NaN,D,2015-09-05,210009833.0,True,210006344.0,2016-02-03,2016-10-12,True,False,14.0,True,True,1.055,51.6,2016-10-12,2016-10-12
34187,210009833,210009833,2015-09-02,C712,C71,9440,3,NaN,NaN,NaN,U,NaN,G4,36.0,2,L0301,1010009833,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-09-02,L,5 - most deprived,1,A,NaN,NaN,NaN,NaN,NaN,NaN,D,2015-09-05,210009833.0,True,210006344.0,2016-02-03,2016-10-12,True,False,14.0,True,True,1.055,51.6,2016-10-26,2016-10-26
34188,210009833,210009833,2015-09-02,C712,C71,9440,3,NaN,NaN,NaN,U,NaN,G4,36.0,2,L0301,1010009833,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-09-02,L,5 - most deprived,1,A,NaN,NaN,NaN,NaN,NaN,NaN,D,2015-09-05,210009833.0,True,210006345.0,2016-12-01,2016-12-04,True,False,15.0,True,True,1.055,51.6,2016-12-04,2016-12-04
34189,210009833,210009833,2015-09-02,C712,C71,9440,3,NaN,NaN,NaN,U,NaN,G4,36.0,2,L0301,1010009833,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-09-02,L,5 - most deprived,1,A,NaN,NaN,NaN,NaN,NaN,NaN,D,2015-09-05,210009833.0,True,210006345.0,2016-12-01,2016-12-04,True,False,15.0,True,True,1.055,51.6,2017-01-03,2017-01-03
34190,210009833,210009833,2015-09-02,C712,C71,9440,3,NaN,NaN,NaN,U,NaN,G4,36.0,2,L0301,1010009833,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-09-02,L,5 - most deprived,1,A,NaN,NaN,NaN,NaN,NaN,NaN,D,2015-09-05,210009833.0,True,210006345.0,2016-12-01,2016-12-04,True,False,15.0,True,True,1.055,51.6,2017-01-24,2017-01-24
34191,210009833,210009833,2015-09-02,C712,C71,9440,3,NaN,NaN,NaN,U,NaN,G4,36.0,2,L0301,1010009833,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-09-02,L,5 - most deprived,1,A,NaN,NaN,NaN,NaN,NaN,NaN,D,2015-09-05,210009833.0,True,210006345.0,2016-12-01,2016-12-04,True,False,15.0,True,True,1.055,51.6,2017-02-28,2017-02-28
34192,210009833,210009833,2015-09-02,C712,C71,9440,3,NaN,NaN,NaN,U,NaN,G4,36.0,2,L0301,1010009833,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-09-02,L,5 - most deprived,1,A,NaN,NaN,NaN,NaN,NaN,NaN,D,2015-09-05,210009833.0,True,210006345.0,2016-10-23,2016-12-16,True,False,17.0,True,True,1.055,51.6,2016-12-16,2016-12-16
34193,210009833,210009833,2015-09-02,C712,C71,9440,3,NaN,NaN,NaN,U,NaN,G4,36.0,2,L0301,1010009833,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-09-02,L,5 - most deprived,1,A,NaN,NaN,NaN,NaN,NaN,NaN,D,2015-09-05,210009833.0,True,210006346.0,2014-02-14,2016-12-16,False,False,16.0,True,True,1.055,51.6,2017-04-25,2017-04-25
34194,210009833,210009833,2015-09-02,C712,C71,9440,3,NaN,NaN,NaN,U,NaN,G4,36.0,2,L0301,1010009833,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-09-02,L,5 - most deprived,1,A,NaN,NaN,NaN,NaN,NaN,NaN,D,2015-09-05,210009833.0,True,210006347.0,2016-07-25,2016-10-10,False,False,13.0,True,True,1.055,51.6,2016-10-10,2016-10-10
34195,210009833,210009833,2015-09-02,C712,C71,9440,3,NaN,NaN,NaN,U,NaN,G4,36.0,2,L0301,1010009833,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-09-02,L,5 - most deprived,1,A,NaN,NaN,NaN,NaN,NaN,NaN,D,2015-09-05,210009833.0,True,210006347.0,2016-05-06,2016-12-16,True,True,18.0,True,True,1.055,51.6,2017-06-13,2017-06-13
34196,210009833,210009833,2015-09-02,C712,C71,9440,3,NaN,NaN,NaN,U,NaN,G4,36.0,2,L0301,1010009833,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-09-02,L,5 - most deprived,1,A,NaN,NaN,NaN,NaN,NaN,NaN,D,2015-09-05,210009833.0,True,210006347.0,2016-05-06,2016-12-16,True,True,18.0,True,True,1.055,51.6,2017-07-11,2017-07-11
34197,210009833,210009833,2015-09-02,C712,C71,9440,3,NaN,NaN,NaN,U,NaN,G4,36.0,2,L0301,1010009833,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-09-02,L,5 - most deprived,1,A,NaN,NaN,NaN,NaN,NaN,NaN,D,2015-09-05,210009833.0,True,210006347.0,2016-05-06,2016-12-16,True,True,18.0,True,True,1.055,51.6,2017-07-25,2017-07-25
34198,210009833,210009833,2015-09-02,C712,C71,9440,3,NaN,NaN,NaN,U,NaN,G4,36.0,2,L0301,1010009833,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-09-02,L,5 - most deprived,1,A,NaN,NaN,NaN,NaN,NaN,NaN,D,2015-09-05,210009833.0,True,210006347.0,2016-11-18,2016-12-16,True,False,19.0,True,True,1.055,51.6,2016-12-16,2016-12-16
34199,210009833,210009833,2015-09-02,C712,C71,9440,3,NaN,NaN,NaN,U,NaN,G4,36.0,2,L0301,1010009833,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-09-02,L,5 - most deprived,1,A,NaN,NaN,NaN,NaN,NaN,NaN,D,2015-09-05,210009833.0,True,210006347.0,2016-12-30,2017-01-06,False,False,20.0,True,True,1.055,51.6,2017-01-06,2017-01-06
34200,210009833,210009833,2015-09-02,C712,C71,9440,3,NaN,NaN,NaN,U,NaN,G4,36.0,2,L0301,1010009833,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-09-02,L,5 - most deprived,1,A,NaN,NaN,NaN,NaN,NaN,NaN,D,2015-09-05,210009833.0,True,210006347.0,2016-09-01,2016-09-01,False,False,11.0,True,True,1.055,51.6,2016-09-01,2016-09-01
34201,210009833,210009833,2015-09-02,C712,C71,9440,3,NaN,NaN,NaN,U,NaN,G4,36.0,2,L0301,1010009833,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-09-02,L,5 - most deprived,1,A,NaN,NaN,NaN,NaN,NaN,NaN,D,2015-09-05,210009833.0,True,210006347.0,2016-09-01,2016-09-01,False,False,11.0,True,True,1.055,51.6,2016-10-27,2016-10-27
34202,210009833,210009833,2015-09-02,C712,C71,9440,3,NaN,NaN,NaN,U,NaN,G4,36.0,2,L0301,1010009833,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-09-02,L,5 - most deprived,1,A,NaN,NaN,NaN,NaN,NaN,NaN,D,2015-09-05,210009833.0,True,210006347.0,2016-09-01,2016-09-01,False,False,11.0,True,True,1.055,51.6,2016-11-10,2016-11-10
34203,210009833,210009833,2015-09-02,C712,C71,9440,3,NaN,NaN,NaN,U,NaN,G4,36.0,2,L0301,1010009833,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-09-02,L,5 - most deprived,1,A,NaN,NaN,NaN,NaN,NaN,NaN,D,2015-09-05,210009833.0,True,210028568.0,2015-09-24,2015-10-21,False,True,2.0,False,True,1.055,51.6,2015-10-21,2015-10-21
34204,210009833,210009833,2015-09-02,C712,C71,9440,3,NaN,NaN,NaN,U,NaN,G4,36.0,2,L0301,1010009833,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-09-02,L,5 - most deprived,1,A,NaN,NaN,NaN,NaN,NaN,NaN,D,2015-09-05,210009833.0,True,210028568.0,2015-09-24,2015-10-21,False,True,2.0,False,True,1.055,51.6,2015-11-18,2015-11-18
34205,210009833,210009833,2015-09-02,C712,C71,9440,3,NaN,NaN,NaN,U,NaN,G4,36.0,2,L0301,1010009833,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-09-02,L,5 - most deprived,1,A,NaN,NaN,NaN,NaN,NaN,NaN,D,2015-09-05,210009833.0,True,210028568.0,2015-09-24,2015-10-21,False,True,2.0,False,True,1.055,51.6,2015-12-17,2015-12-17
34206,210009833,210009833,2015-09-02,C712,C71,9440,3,NaN,NaN,NaN,U,NaN,G4,36.0,2,L0301,1010009833,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-09-02,L,5 - most deprived,1,A,NaN,NaN,NaN,NaN,NaN,NaN,D,2015-09-05,210009833.0,True,210028568.0,2013-08-12,2013-08-15,False,False,1.0,False,False,1.055,51.6,2013-08-15,2015-09-05
34207,210009833,210009833,2015-09-02,C712,C71,9440,3,NaN,NaN,NaN,U,NaN,G4,36.0,2,L0301,1010009833,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-09-02,L,5 - most deprived,1,A,NaN,NaN,NaN,NaN,NaN,NaN,D,2015-09-05,210009833.0,True,210028568.0,2013-08-12,2013-08-15,False,False,1.0,False,False,1.055,51.6,NaT,2015-09-05