In [1]:
import pandas as pd

from load import read_csv

In [2]:
path = './Data/bt-impute.csv'
df = read_csv(path)

In [18]:
df.groupby('PATIENTID').size().value_counts()

1     36865
2       834
3       624
4       479
5       352
6       239
7       211
8       147
9       106
10       65
11       63
12       41
13       37
15       22
14       22
16       19
17       13
18        5
19        3
20        3
22        3
24        3
26        3
21        1
23        1
28        1
dtype: int64

,TUMOURID,PATIENTID,DIAGNOSISDATEBEST,SITE_ICD10_O2_3CHAR,MORPH_ICD10_O2,BEHAVIOUR_ICD10_O2,STAGE_BEST,GRADE,AGE,SEX,...,CLINICAL_TRIAL,CHEMO_RADIATION,REGIMEN_COUNT,CLINICAL_TRIAL_INDICATOR,CHEMO_RADIATION_INDICATOR,NORMALISED_HEIGHT,NORMALISED_WEIGHT,DAYS_TO_FIRST_SURGERY,DAYS_SINCE_DIAGNOSIS,count
0,10614165,10501771,2017-01-16,C71,9440.0,3,U,G4,69.0,1,...,False,False,0.0,False,False,0.000,0.00,0,751,NaN
1,10614166,10501772,2015-11-10,C71,9440.0,3,U,G4,88.0,1,...,False,False,1.0,False,False,1.755,71.75,0,17,NaN
2,10614166,10501772,2015-11-10,C71,9440.0,3,U,G4,88.0,1,...,False,False,3.0,False,False,1.755,71.75,0,17,NaN
3,10614166,10501772,2015-11-10,C71,9440.0,3,U,G4,88.0,1,...,False,False,2.0,False,False,1.755,71.75,0,17,NaN
4,10614166,10501772,2015-11-10,C71,9440.0,3,U,G4,88.0,1,...,False,False,4.0,False,False,1.755,71.75,0,17,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53091,330026843,330024623,2017-09-10,C70,9440.0,3,?,GX,88.0,1,...,False,False,4.0,True,False,1.750,55.60,15,517,NaN
53092,330026843,330024623,2017-09-10,C70,9440.0,3,?,GX,88.0,1,...,False,True,5.0,True,True,1.750,55.60,15,517,NaN
53093,330026843,330024623,2017-09-10,C70,9440.0,3,?,GX,88.0,1,...,False,False,6.0,True,True,1.750,55.60,15,517,NaN
53094,330026843,330024623,2017-09-10,C70,9440.0,3,?,GX,88.0,1,...,False,False,7.0,True,True,1.750,55.60,15,517,NaN
53095,330026843,330024623,2017-09-10,C70,9440.0,3,?,GX,88.0,1,...,False,False,8.0,True,True,1.750,55.60,15,517,NaN